In [1]:
import numpy as np
import pandas as pd

In [18]:
covid_data = pd.read_csv('../covid-19-county-level-data.csv')
mobility = pd.read_csv('../us-mobility.csv')

In [19]:
covid_data = covid_data[covid_data.state == 'Massachusetts']
mobility = mobility[mobility.state == 'Massachusetts']

In [20]:
mobility['county'] = mobility.county.apply(lambda x: str(x).split()[0])
mobility = mobility.drop(['Unnamed: 0','state'], axis=1)
covid_data = covid_data.drop(['Unnamed: 0','fips','state'],axis=1)

In [21]:
df = pd.merge(covid_data, mobility,  how='left', left_on=['date','county'], right_on = ['date','county',])
df = df[df['county']!='Total']
df = df[df['county']!='Unknown']

In [22]:
df["retail_and_recreation"] = df.groupby("county").transform(lambda x: x.fillna(x.median()))
df["grocery_and_pharmacy"] = df.groupby("county").transform(lambda x: x.fillna(x.median()))
df["parks"] = df.groupby("county").transform(lambda x: x.fillna(x.median()))
df["transit_stations"] = df.groupby("county").transform(lambda x: x.fillna(x.median()))
df["workplaces"] = df.groupby("county").transform(lambda x: x.fillna(x.median()))
df["residential"] = df.groupby("county").transform(lambda x: x.fillna(x.median()))
df

,date,county,cases,deaths,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,2020-02-01,Suffolk,1,0,1.0,1.0,1.0,1.0,1.0,1.0
1,2020-02-02,Suffolk,1,0,1.0,1.0,1.0,1.0,1.0,1.0
2,2020-02-03,Suffolk,1,0,1.0,1.0,1.0,1.0,1.0,1.0
3,2020-02-04,Suffolk,1,0,1.0,1.0,1.0,1.0,1.0,1.0
4,2020-02-05,Suffolk,1,0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2098,2020-07-28,Nantucket,34,1,34.0,34.0,34.0,34.0,34.0,34.0
2099,2020-07-28,Norfolk,10034,977,10034.0,10034.0,10034.0,10034.0,10034.0,10034.0
2100,2020-07-28,Plymouth,9018,706,9018.0,9018.0,9018.0,9018.0,9018.0,9018.0
2101,2020-07-28,Suffolk,20960,1052,20960.0,20960.0,20960.0,20960.0,20960.0,20960.0
2103,2020-07-28,Worcester,13166,982,13166.0,13166.0,13166.0,13166.0,13166.0,13166.0

In [ ]:
# print(df['cases'].isnull().values.any())
# print(df['deaths'].isnull().values.any())

# df.to_csv('../new_data.csv')

In [ ]:
restaurants = pd.read_csv('../restaurant.csv')
restaurants= restaurants.drop(['Unnamed: 0','Unnamed: 0.1','state','region_type','region','country'],axis=1)
restaurants

In [ ]:
df_r = pd.merge(df, restaurants,  how='left', left_on=['date'], right_on = ['date'])
df_r['percent_yoy_change'] = df_r['percent_yoy_change'].fillna(0)
df_r

In [ ]:
df['county'] = df[df['county']!='Unknown']

In [ ]:
df.to_csv('../new_data.csv')

In [ ]:
df